
/*------------------css pag sobre nos------------------*/
.bodySobreNos{
    background-color: black;
}
/*----------------section sobre nos----------------------*/
.sectionSobreNos{
    background-image: url("lambo\ sobrenos.png");
    background-size: 1900px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    margin-bottom: 20px;
}
.sectionSobreNos2{
    background-image: url("back\ sobrenos.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textoSobreNos{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 50%;
    height: 450px;
}
p.textoPgHomeSobreNos{
    display: flex;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-top: 1px;
    margin-top: 10px;
    font-size: 1vw;
}
/*-------------------------------------------------------------*/
