/* --------------------CSS HOME----------------------*/
.bodyHome{
    background-color: black;
    background-size: 2140px;
}
/*------------------header geral---------------------*/
header{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listaMenu1{
    width: 25%;
    height: 60px;
}
.listaMenu1 ul{
    display: flex;
    width: 80%;
}
.listaMenu1 li{
    width: 50%;
    height: 25px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(184, 165, 0);
}
.logoMenuImg{
    background-image: url("tourologoevy.png") ;
    background-size: 162px;
    width: 10%;
    height: 100px;
}
.logoMenu h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.listaMenu2{
    width: 25%;
    height: 60px;
}
.listaMenu2 ul{
    list-style-type: none;
    display: flex;
    width: 80%;
}
.listaMenu2 li{
    width: 50%;
    height: 25px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}
/*-------------------section home----------------------*/
.sectionHome{
    width: 100%;
    height: 1450px;
    display: flex;
    flex-direction: column;
}

.carrosselHome{
    margin-bottom: 90px;
}
.textoCarrossel1pg{
    margin-left: -130px;
    margin-bottom: 350px;
    font-size: 78px;
    width: 48%;
}
.textoCarrossel2pg{
    font-size: 55px;
}
.imgCarrossel{
    width: 100%;
    height: 650px;
}
p.texto2Carrossel{
    margin-bottom: -30px;
    font-size: 30px;
}
.botaoSlide{
    margin-left: 1008px;
    width: 110px;
}
.textoHome{
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 50%;
    height: 450px;
    margin-bottom: 40px;
    margin-left: 600px;
}
.imgHome1{
    width: 30%;
    height: 400px;
    margin-bottom: 10px;
    position: relative;
    bottom: 560px;
}
.imgHome2{
    display: flex;
    width: 50%;
    height: 400px;
    position: relative;
    bottom: 560px;
}
.img1{
    display: flex;
    width: 80%;
    height: 400px;
}
.img2{
    display: flex;
    width: 77%;
    height: 400px;
}
p.textoPgHomeSobreNos{
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-top: 1px;
    margin-top: 10px;
}
/*---------------------footer geral--------------------------*/
footer{
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
.adm{
    color: white;
}
.redesSociais{
    color: white;
}

/*------------------css pag sobre nos------------------*/
.bodySobreNos{
    background-image: url("https://i.pinimg.com/originals/87/7d/1f/877d1f94e749dfcc4bb46773ef063f78.jpg");
    background-size: 1540px;
}
/*----------------section sobre nos----------------------*/
.sectionSobreNos{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textoSobreNos{
    width: 80%;
    height: 220px;
    margin-bottom: 40px;
}
/*-------------------------------------------------------------*/
